/* About.css */
.about-container {
    padding: 50px;
    text-align: center;
  }
  .about-container h2 {
  
  
    font-size: 24px;
    font-weight: 800;
    color: #1ABC9C;
  }
  .about-container h4 {
    font-size: 16px;
    font-weight: 700;
    padding-top:5% ;
    padding-bottom:5% ;
    color: #585555;
  }
  